@use "variable";

@font-face {
  font-family: "Quicksand";
  src: url("#{variable.$pathFont}/Quicksand/Quicksand-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("#{variable.$pathFont}/Quicksand/Quicksand-Bold.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("#{variable.$pathFont}/Quicksand/Quicksand-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("#{variable.$pathFont}/Quicksand/Quicksand-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("#{variable.$pathFont}/Quicksand/Quicksand-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
