$pathFont: "/assets/fonts/font-family";
$pathFontIcon: "/assets/fonts/font-icons";

$red: #d30f3f;
$red-secondary: #e53520;
$blue: #5463a9;
$grey-primary: #4a4b4d;
$grey-secondary: #9a9a9a;
$grey-tertiary: #707070;
$grey-arrow: #c0cad1;
$grey-border: #e6e6e6;
$grey: #878787;

$bg: #f1f1f1;
$white: #fff;
$black: #141414;
$black-secondary: #202e46;

$orange: #ffaa00;
$green: #4cb050;
