<div>
  <div><i class="icn-cart"></i></div>
  <div>LOGO</div>
  <div><i class="icn-menu"></i></div>
</div>
<div class="banner">banner</div>
<div class="header">
  <h2 class="">Bags</h2>
</div>
<div>
  <nav>
    <ul>
      <li>
        <a>Purses</a>
      </li>
      <li>
        <a>Designer Bags</a>
      </li>
      <li>
        <a>Dress</a>
      </li>
      <li>
        <a>Shoulder Bags</a>
      </li>
      <li>
        <a>Travel Bags</a>
      </li>
    </ul>
  </nav>
</div>

<div class="product-list-container">
  <div [routerLink]="['rings']">
    <img src="" alt="" />
    <h5>Purses</h5>
  </div>
  <div>
    <img src="" alt="" />
    <h5>Designer Bags</h5>
  </div>
  <div>
    <img src="" alt="" />
    <h5>Dress</h5>
  </div>
  <div>
    <img src="" alt="" />
    <h5>Shoulder Bags</h5>
  </div>
  <div>
    <img src="" alt="" />
    <h5>Travel Bags</h5>
  </div>
</div>
