<div>
  <div><i class="icn-cart"></i></div>
  <div>LOGO</div>
  <div><i class="icn-menu"></i></div>
</div>
<div class="banner">banner</div>
<div class="header">
  <h2 class="">Bags details - Gucci GG morunt</h2>
</div>

<div class="product-list-container">
  <div>
    <img src="/assets/images/product-bag.png" alt="" />
    <h5>Bags</h5>
  </div>
  <div class="product-info">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam id
      aperiam neque, hic repellendus, similique delectus assumenda officiis
      harum sunt voluptatem velit autem, praesentium dolorum expedita fuga.
      Exercitationem, blanditiis laudantium!
    </p>
  </div>
  <div class="buy-btn">
    <button>Buy Now</button>
  </div>
</div>
