<div>
  <div><i class="icn-cart"></i></div>
  <div>LOGO</div>
  <div><i class="icn-menu"></i></div>
</div>
<div class="header">
  <h2 class="">New collection for Spring 2023</h2>
</div>
<div>
  <nav>
    <ul>
      <li>
        <a>Bags</a>
      </li>
      <li>
        <a>Cosmetics</a>
      </li>
      <li>
        <a>Dress</a>
      </li>
      <li>
        <a>Accessories</a>
      </li>
      <li>
        <a>Bags</a>
      </li>
    </ul>
  </nav>
</div>

<div class="product-list-container">
  <a [routerLink]="['/product/bags']">
    <img src="" alt="" />
    <h5>Bags</h5>
  </a>
  <div>
    <img src="" alt="" />
    <h5>Makeup</h5>
  </div>
</div>
